{% load static %}
<!doctype html>
<html lang="en">
  <head>
  	<title>Table 01</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="{% static 'viewvacancy/https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %}">
	
	<link rel="stylesheet" href="{% static 'viewvacancy/css/style.css' %}">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Table #01</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table">
						  <thead class="thead-primary">
						    <tr>
						      <th>Company ID</th>
							  <th>Company Name</th>
						      <th>Vacancy No</th>
							  <th>Vacancy Name</th>
							  <th>No.of post</th>
							  <th>Salary</th>
						      <th>Qualification</th>
						    </tr>
						  </thead>
						  <tbody>
						  {% for j in arec %}
						    <tr>
						      <th scope="row">{{j.compid}}</th>
							  <td>{{j.company}}</td>
						      <td>{{j.vno}}</td>
							  <td>{{j.vname}}</td>
							  <td>{{j.nop}}</td>
								<td>{{j.salary}}</td>
                             <td>{{j.qual}}</td>
							  <td>{{j.filled}}</td>

							</tr>
						  {% endfor %}

						  </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="{% static 'viewvacancy/js/jquery.min.js' %}"></script>
  <script src="{% static 'viewvacancy/js/popper.js' %}"></script>
  <script src="{% static 'viewvacancy/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'viewvacancy/js/main.js' %}"></script>

	</body>
</html>

